@charset "utf-8";
/* CSS Document */

/* ====================== Media screen ====================== */

@media screen and (min-width: 420px) {
  #restaurant-name,
  .restaurant-name_favorite {
    font-size: 1.7em;
  }
  #restaurant-address,
  #reviews-container h2 {
    font-size: 1.5em;
  }
  #restaurant-hours td,
  #reviews-list li p,
  #reviews-list li.addReview input.reviews-name,
  #reviews-list li.addReview .reviews-comments {
    font-size: 1.2em;
  }
}

@media screen and (min-width: 550px) {
  nav h1 a {
    font-size: 1.5em;
    letter-spacing: 5px;
  }
  /* ============== Font =============== */
  #breadcrumb li {
    font-size: 2.4vw;
  }
  #footer {
    font-size: 1.5vw;
  }
  #restaurant-name,
  .restaurant-name_favorite {
    font-size: 3vw;
  }
  #restaurant-cuisine,
  #reviews-container h2 {
    font-size: 2.8vw;
  }
  #restaurant-address,
  #reviews-list .reviews-name {
    font-size: 2.5vw
  }
  #restaurant-hours td,
  #reviews-list .reviews-date,
  #reviews-list li p,
  #reviews-list li.addReview input.reviews-name,
  #reviews-list li.addReview .reviews-comments {
    font-size: 2.2vw;
  }
  #toast,
  #offline {
    font-size: 3.5vw;
  }
  /* ==================================== */
  /* ============== Details =============== */
  #restaurant-container {
    flex-flow: row wrap;
  }
  #restaurant-info {
    border-right: 1px solid #d9d9d9;
  }
}

@media screen and (min-width: 700px) {
  /* ============== Details =============== */
  #reviews-list {
    display: flex;
    flex-flow: row wrap;
  }
  #reviews-list li {
    flex: 1 0 80%
  }
  /* ============== Font =============== */
  #breadcrumb li {
    font-size: 1.7vw;
  }
  #footer {
    font-size: 1.2vw;
  }
  #restaurant-cuisine,
  #reviews-container h2 {
    font-size: 2vw;
  }
  #restaurant-address,
  #reviews-list .reviews-name,
  #image-blurred-text h3 {
    font-size: 2vw
  }
  #restaurant-hours td,
  #reviews-list .reviews-date,
  #reviews-list li p,
  #reviews-list li.addReview input.reviews-name,
  #reviews-list li.addReview .reviews-comments {
    font-size: 1.7vw;
  }
  #toast,
  #offline {
    font-size: 3vw;
  }
  /* ==================================== */
}

@media screen and (min-width: 850px) {
  #maincontent {
    flex-direction: row;
    overflow-y: hidden;
  }
  #map-container {
    width: 40%;
    height: 100%;
  }
  /* ============== Font =============== */
  #breadcrumb li {
    font-size: 1.6vw;
  }
  #footer {
    font-size: 1.1vw;
  }
  #restaurant-cuisine,
  #reviews-container h2 {
    font-size: 1.8vw;
  }
  #restaurant-address,
  #reviews-list .reviews-name {
    font-size: 1.7vw
  }
  #restaurant-hours td,
  #reviews-list .reviews-date,
  #reviews-list li p,
  #reviews-list li.addReview input.reviews-name,
  #reviews-list li.addReview .reviews-comments {
    font-size: 1.4vw;
  }
  #toast,
  #offline {
    font-size: 2.7vw;
  }
  /* ==================================== */
  /* ============== Details =============== */
  .inside #maincontent {
    flex: 1 1;
  }
  #restaurant-container {
    min-height: 50vh;
    width: 100%;
    overflow-y: scroll;
  }
}

@media screen and (min-width: 1280px) {
  /* ============== Font =============== */
  #breadcrumb li {
    font-size: 1.3vw;
  }
  #footer {
    font-size: 0.8vw;
  }
  #restaurant-cuisine,
  #reviews-container h2 {
    font-size: 1.5vw;
  }
  #restaurant-address,
  #reviews-list .reviews-name {
    font-size: 1.4vw
  }
  #restaurant-hours td,
  #reviews-list .reviews-date,
  #reviews-list li p,
  #reviews-list li.addReview input.reviews-name,
  #reviews-list li.addReview .reviews-comments {
    font-size: 1.2vw;
  }
  #restaurants-list li button {
    font-size: 1vw;
  }
  #toast,
  #offline {
    font-size: 2.4vw;
  }
}

@media screen and (min-width: 1920px) {
  #toast,
  #offline {
    font-size: 1.8vw;
  }
}