@charset "utf-8";

/* CSS Document */

body,
td,
th,
p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10pt;
    color: #333;
    line-height: 1.5;
}

ul,
li {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10pt;
    color: #333;
}

a {
    color: orange;
    text-decoration: none;
}

a:hover,
a:focus {
    color: #3397db;
    text-decoration: none;
}

a img {
    border: none 0px #fff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 0 20px;
}

article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
section {
    display: block;
}

header {
    position: relative;
}

body {
    display: flex;
    height: 100vh;
    flex-direction: column;
    background-color: #fdfdfd;
    margin: 0;
    position: relative;
}

#maincontent {
    background-color: #f3f3f3;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    flex: 1;
    position: relative;
    overflow-y: scroll;
}

#footer {
    position: relative;
    background-color: #444;
    color: #aaa;
    font-size: 8pt;
    letter-spacing: 1px;
    padding: 25px;
    text-align: center;
    text-transform: uppercase;
}


/* ====================== Navigation ====================== */

nav {
    width: 100%;
    height: 8vh;
    min-height: 40px;
    max-height: 80px;
    background-color: #252831;
    text-align: center;
    display: flex;
}

nav h1 {
    margin: auto;
}

nav h1 a {
    color: #fff;
    font-size: 1em;
    font-weight: 200;
    text-transform: uppercase;
}

#breadcrumb {
    padding: 10px 40px 16px;
    list-style: none;
    background-color: #eee;
    font-size: 17px;
    margin: 0;
}


/* Display list items side by side */

#breadcrumb li {
    display: inline;
}


/* Add a slash symbol (/) before/behind each list item */

#breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
}


/* Add a color to all links inside the list */

#breadcrumb li a {
    color: #0275d8;
    text-decoration: none;
}


/* Add a color on mouse-over */

#breadcrumb li a:hover {
    color: #01447e;
    text-decoration: underline;
}


/* ====================== Map ====================== */

#map-container {
    position: relative;
    height: 40vh;
    /* trick for Firefox */
    min-height: 40vh;
}

#map {
    height: 100%;
    width: 100%;
    background-color: #ccc;
    min-width: 320px;
}


/* ====================== Restaurant Filtering ====================== */

.filter-options {
    width: 100%;
    background-color: #3397DB;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    position: relative;
}

.filter-options h2 {
    color: white;
    font-size: 1rem;
    font-weight: normal;
    line-height: 1;
    margin: 0 10px;
    display: block;
    flex: 1;
}

.filter-options select {
    background-color: white;
    border: 1px solid #fff;
    font-family: Arial, sans-serif;
    font-size: 11pt;
    height: 35px;
    letter-spacing: 0;
    margin: 10px;
    padding: 0 10px;
    width: 200px;
    flex: 1 50%;
}


/* ====================== Restaurant Listing ====================== */

.restaurants {
    width: 100%;
}

#restaurants-list {
    background-color: #f3f3f3;
    list-style: outside none none;
    margin: 0 0 10px;
    padding: 0px 7px;
    text-align: center;
}

#restaurants-list li {
    background-color: #fff;
    border: 2px solid #ccc;
    font-family: Arial, sans-serif;
    margin: 10px;
    padding: 0 30px 65px;
    text-align: left;
    /* set the position relative to align the button on the bottom */
    position: relative;
}

#restaurants-list .restaurant-img {
    border-radius: 25px;
    background-color: #ccc;
    display: block;
    margin: 5px auto;
    width: 100%;
    height: auto;
}

#restaurants-list li h1 {
    color: #f18200;
    font-family: Arial, sans-serif;
    font-size: 14pt;
    font-weight: 200;
    letter-spacing: 0;
    line-height: 1.3;
    margin: 20px 0 10px;
    text-transform: uppercase;
}

#restaurants-list p {
    margin: 0;
    font-size: 11pt;
}

#restaurants-list li button {
    background-color: orange;
    border-bottom: 3px solid #eee;
    color: #fff;
    display: block;
    font-size: 10pt;
    padding: 8px 30px 10px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    /* set the position absolute to align the button on the bottom */
    position: absolute;
    bottom: 10px;
}


/* ====================== Restaurant Details ====================== */


/* .inside header {
    width: 100%;
    z-index: 1000;
} */

.inside #map-container {
    background: blue none repeat scroll 0 0;
    position: relative;
    width: 100%;
}

.inside #map {
    background-color: #ccc;
    height: 100%;
    width: 100%;
}

#restaurant-name {
    color: #f18200;
    font-family: Arial, sans-serif;
    font-size: 5vw;
    font-weight: 200;
    letter-spacing: 0;
    margin: 30px 15px 20px;
    text-transform: uppercase;
    line-height: 1.1;
    text-align: left;
}

#restaurant-img {
    border-radius: 25px;
    width: calc(100% - 30px);
    height: auto;
    display: block;
    margin: 10px auto;
}

#restaurant-address {
    font-size: 4vw;
    margin: 10px 15px;
}

#restaurant-cuisine {
    background-color: #333;
    color: #ddd;
    font-size: 12pt;
    font-weight: 300;
    letter-spacing: 10px;
    margin: 0 0 20px;
    padding: 2px 0;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
}

#restaurant-container,
#reviews-container {
    border-bottom: 1px solid #d9d9d9;
    border-top: 1px solid #fff;
    width: 100%;
}

#reviews-container h2 {
    color: #f58500;
    font-size: 5vw;
    font-weight: 300;
    letter-spacing: -1px;
    margin: 10px 15px;
    text-align: left;
}

#reviews-list {
    margin: 0;
    padding: 0;
}

#reviews-list li {
    background-color: #fff;
    border: 2px solid #f3f3f3;
    display: block;
    list-style-type: none;
    margin: 0 15px 10px;
    overflow-y: hidden;
    padding: 0 20px 20px;
    position: relative;
    width: calc(100% - 74px);
}

#reviews-list li p {
    margin: 0 0 10px;
    font-size: 3.5vw;
}

#restaurant-hours {
    display: block;
    margin: 0 15px;
}

#restaurant-hours td {
    color: #666;
    font-size: 3.5vw;
}


/* ====================== Media screen ====================== */

@media screen and (min-width: 420px) {
    .filter-options {
        flex-wrap: nowrap;
    }
    #restaurant-name {
        font-size: 1.7em;
    }
    #restaurant-address,
    #reviews-container h2 {
        font-size: 1.5em;
    }
    #restaurant-hours td,
    #reviews-list li p {
        font-size: 1.2em;
    }
}

@media screen and (min-width: 500px) {
    nav h1 a {
        font-size: 1.5em;
        letter-spacing: 5px;
    }
    #restaurants-list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    #restaurants-list li {
        width: calc((100% / 2) - 84px);
    }
}

@media screen and (min-width: 700px) {
    #restaurants-list li {
        width: calc((100% / 3) - 84px);
    }
}

@media screen and (min-width: 850px) {
    #maincontent {
        flex-direction: row;
        overflow-y: hidden;
    }
    #map-container {
        height: 100%;
    }
    .restaurants {
        overflow-y: scroll;
    }
    #restaurants-list li {
        width: calc((100% / 2) - 84px);
    }
}

@media screen and (min-width: 1000px) {
    #restaurants-list li {
        width: calc((100% / 3) - 84px);
    }
}

@media screen and (min-width: 1281px) {
    width: calc((100% / 4) - 84px);
}

@media screen and (min-width: 1600px) {
    body {
        max-width: 1920px;
        margin-right: auto;
        margin-left: auto;
    }
    #restaurants-list li {
        width: calc((100% / 5) - 84px);
    }
}